@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

@layer global {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    font-size: var(--fs-16);
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    line-height: 1;
  }

  p {
    margin: 0;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
  }

  :root {
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-6: 24px;
    --spacing-8: 32px;
    --spacing-10: 40px;
    --spacing-12: 48px;
    --spacing-32: 128px;

    --ff-young: "Young Serif", serif;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

@layer colors {
  :root {
    --color-white: #ffffff;
    --color-brown-800: #854632;
    --color-stone-100: #f3e5d7;
    --color-stone-150: #e3ddd7;
    --color-stone-600: #5f564d;
    --color-stone-900: #312e2c;
    --color-rose-50: #fff7fb;
    --color-rose-800: #7a284e;
  }
}

@layer fonts {
  :root {
    --fs-40: 40px;
    --fs-28: 28px;
    --fs-20: 20px;
    --fs-16: 1rem;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100dvh;
  background-color: var(--color-stone-100);

  padding: var(--spacing-32) var(--spacing-12);
}

.card {
  border-radius: var(--spacing-6);
  background-color: var(--color-white);
  padding: var(--spacing-10) var(--spacing-10);
  width: 736px;
  max-width: 100%;
}

.card__image {
  border-radius: var(--spacing-3);
  margin-bottom: var(--spacing-10);
  overflow: hidden;
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.content__title {
  font-family: var(--ff-young);
  font-size: var(--fs-40);
  margin-bottom: var(--spacing-6);
  font-weight: 400;
}

.content__prep {
  border-radius: 12px;
  padding: 24px;
  background-color: var(--color-rose-50);
}

.content__prep-title {
  font-size: var(--fs-20);
  color: var(--color-rose-800);
}

.prep-list {
  margin-top: 1rem;
  padding-left: 24px;
  color: var(--color-stone-600);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.prep-list li::marker {
  color: var(--color-rose-800);
  width: 15px;
  height: 24px;
}

.prep-list li p {
  margin-left: 16px;
}

.content__section-title {
  font-family: var(--ff-young);
  font-size: var(--fs-28);
  color: var(--color-brown-800);
  margin-bottom: var(--spacing-6);
  font-weight: 400;
}

.ingredient-list {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: var(--color-stone-600);
}

.ingredient-list li::marker {
  width: 1rem;
  color: var(--color-brown-800);
}

.ingredient-list li p {
  margin-left: 1rem;
}

.instruction-list {
  padding-left: var(--spacing-6);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-2);
  color: var(--color-stone-600);
  margin: 0;
}

.instruction-list li::marker {
  color: var(--color-brown-800);
  width: 1rem;
  font-weight: bold;
}

.instruction-list li p {
  margin-left: 1rem;
}

hr {
  border: none;
  border-top: 1px solid var(--color-stone-100);
  margin: 0;
}

.content__note {
  color: var(--color-stone-600);
  margin-bottom: var(--spacing-6);
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .card {
    border-radius: 0px;
    padding: 0;
  }

  .card__content {
    padding: var(--spacing-10) var(--spacing-8);
  }

  .card__image {
    border-radius: 0px;
    margin-bottom: 0px;
  }

  .card__image img {
    width: 100%;
  }
}

.nutrition-table__row {
  width: 100%;
  padding: 0px var(--spacing-8);
  border-bottom: 1px solid var(--color-stone-100);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding-bottom: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}

.nutrition-table__label {
  color: var(--color-stone-600);
}

.nutrition-table__value {
  font-weight: bold;
  color: var(--color-brown-800);
}

.nutrition-table__row:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.content__description {
  color: var(--color-stone-600);
}
